<div class="page">
  <header class="page-header">
    <div class="page-header__title">
      <h1>發布狀態 PublishStatus</h1>
      <span class="page-header__subtitle">內容發布狀態</span>
    </div>
    <div class="page-header__actions">
      <p-button
        label="搜尋條件"
        icon="pi pi-filter"
        severity="secondary"
        [badge]="filterBadge"
        badgeSeverity="info"
        class="filter-button"
        (onClick)="openFilters()" />
      <p-button label="新增" icon="pi pi-plus" severity="success" routerLink="/admin/publish-statuses/new" />
    </div>
  </header>

  <section class="page-body">
    <p-table
      [value]="items()"
      [loading]="loading()"
      dataKey="pkid"
      [paginator]="true"
      paginatorPosition="top"
      [rows]="rows"
      [first]="first"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first}–{last} 筆，共 {totalRecords} 筆"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
      (onSort)="onSort($event)"
      (onPage)="onPage($event)"
      [rowHover]="true"
      styleClass="p-datatable-sm publish-status-table">
      <ng-template #header>
        <tr>
          <th pSortableColumn="pkid" class="col-pkid">主代碼 <p-sortIcon field="pkid" /></th>
          <th pSortableColumn="description">狀態說明 <p-sortIcon field="description" /></th>
          <th pSortableColumn="isDraft" class="col-flag">草稿 <p-sortIcon field="isDraft" /></th>
          <th pSortableColumn="isPublished" class="col-flag">已發布 <p-sortIcon field="isPublished" /></th>
          <th pSortableColumn="isDiscontinued" class="col-flag">已下架 <p-sortIcon field="isDiscontinued" /></th>
          <th class="col-link">對應課程</th>
          <th class="col-link">對應活動</th>
          <th class="col-actions">操作</th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td class="col-pkid">{{ item.pkid }}</td>
          <td>{{ item.description }}</td>
          <td class="col-flag">
            <i class="pi flag" [class.pi-check]="item.isDraft" [class.flag--on]="item.isDraft" [class.pi-minus]="!item.isDraft" [attr.aria-label]="item.isDraft ? '是' : '否'"></i>
          </td>
          <td class="col-flag">
            <i class="pi flag" [class.pi-check]="item.isPublished" [class.flag--on]="item.isPublished" [class.pi-minus]="!item.isPublished" [attr.aria-label]="item.isPublished ? '是' : '否'"></i>
          </td>
          <td class="col-flag">
            <i class="pi flag" [class.pi-check]="item.isDiscontinued" [class.flag--on]="item.isDiscontinued" [class.pi-minus]="!item.isDiscontinued" [attr.aria-label]="item.isDiscontinued ? '是' : '否'"></i>
          </td>
          <td class="col-link">
            <p-button
              label="查看課程"
              icon="pi pi-book"
              [text]="true"
              size="small"
              routerLink="/course/courses"
              [queryParams]="{ publishStatusPkid: item.pkid }" />
          </td>
          <td class="col-link">
            <p-button
              label="查看活動"
              icon="pi pi-megaphone"
              [text]="true"
              size="small"
              routerLink="/promotion/promotions"
              [queryParams]="{ publishStatusPkid: item.pkid }" />
          </td>
          <td class="col-actions">
            <p-button icon="pi pi-eye" [text]="true" [rounded]="true" size="small" pTooltip="檢視" tooltipPosition="top" (onClick)="view(item)" />
            <p-button icon="pi pi-pencil" [text]="true" [rounded]="true" size="small" pTooltip="編輯" tooltipPosition="top" (onClick)="edit(item)" />
            <p-button icon="pi pi-trash" [text]="true" [rounded]="true" size="small" severity="danger" pTooltip="刪除" tooltipPosition="top" (onClick)="confirmDelete(item)" />
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="8" class="empty">沒有符合條件的資料。</td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</div>

<p-drawer [visible]="filterVisible()" (visibleChange)="filterVisible.set($event)" position="right" header="搜尋條件" styleClass="filter-drawer">
  <form class="filter-form" (ngSubmit)="search()">
    <div class="field">
      <label for="f-keyword">關鍵字</label>
      <input id="f-keyword" pInputText name="keyword" [(ngModel)]="filters.keyword" placeholder="狀態說明" autocomplete="off" />
    </div>

    <div class="field">
      <label for="f-isDraft">草稿</label>
      <p-select inputId="f-isDraft" name="isDraft" [(ngModel)]="filters.isDraft" [options]="boolOptions" optionLabel="label" optionValue="value" appendTo="body" styleClass="w-full" />
    </div>

    <div class="field">
      <label for="f-isPublished">已發布</label>
      <p-select inputId="f-isPublished" name="isPublished" [(ngModel)]="filters.isPublished" [options]="boolOptions" optionLabel="label" optionValue="value" appendTo="body" styleClass="w-full" />
    </div>

    <div class="field">
      <label for="f-isDiscontinued">已下架</label>
      <p-select inputId="f-isDiscontinued" name="isDiscontinued" [(ngModel)]="filters.isDiscontinued" [options]="boolOptions" optionLabel="label" optionValue="value" appendTo="body" styleClass="w-full" />
    </div>

    <div class="filter-form__actions">
      <p-button label="清除" icon="pi pi-times" severity="secondary" [outlined]="true" type="button" (onClick)="clearFilters()" />
      <p-button label="查詢" icon="pi pi-search" type="submit" />
    </div>
  </form>
</p-drawer>
